---
import BaseLayout from './BaseLayout.astro';

interface Props {
	title?: string;
}

const { title } = Astro.props;
---
<BaseLayout title={title}>
	<main class="py-12">
		<ul class="grid grid-cols-2 gap-6">
			<slot />
		</ul>
	</main>
</BaseLayout>